# Release imza yapilandirmasi SABLONU. Bunu `keystore.properties` olarak kopyala
# ve gercek degerlerle doldur. keystore.properties GITIGNORE'da (parolalar repoya GIRMEZ).
#
#   cp keystore.properties.example keystore.properties
#
# storeFile = upload keystore'un mutlak yolu (repo DISINDA tut, yedekle!).
#   Kaybolursa Play'e guncelleme gonderilemez. Olusturma:
#   keytool -genkeypair -v -keystore tavlatv-upload.jks -alias tavlatv \
#     -keyalg RSA -keysize 2048 -validity 10000
storeFile=C:/Users/Master/AndroidKeys/tavlatv-upload.jks
storePassword=CHANGEME
keyAlias=tavlatv
keyPassword=CHANGEME
